doctype 
html
	body
		head
			meta(charset="utf-8")
			title Future Imperfect
			link(href="assets/css/font-awesome.min.css" rel="stylesheet")
			link(href="assets/css/bootstrap.css" rel="stylesheet")
			link(href="assets/css/bootstrap.min.css" rel="stylesheet")
			link(href="assets/css/main.css" rel="stylesheet")
		body
			header.navegador
				h5
					a future imperfect
			section.title-page
				div.hexagono.tres
					div.imagem1
						div.imagem2
				h1 future imperfect
				p another fine responsive site template by <span>html5 up</span>
			section.post
				div.container
					div.row
						div.col-md-9.box-text
							h3.fw-600 magna sed adipiscing
							p.mt-25 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						div.col-md-3.box-text.pd-3.box-img
							p.fw-600 november 1, 2015
							p
								a jane doe
					div.row
						div.col-md-12.box-pic
							div.box-pic01
								img(src="images/pic01.jpg")

			
