doctype 
html
	body
		head
			meta(charset="utf-8")
			title Future Imperfect
			link(href="assets/css/font-awesome.min.css" rel="stylesheet")
			link(href="assets/css/bootstrap.css" rel="stylesheet")
			link(href="assets/css/bootstrap.min.css" rel="stylesheet")
			link(href="assets/css/main.css" rel="stylesheet")
		body
			header.navegador
				h5
					a future imperfect
			section.title-page
				div.hexagono.img
					div.imagem1
						div.imagem2
				h1 future imperfect
				p another fine responsive site template by <span>html5 up</span>
			section.post
				div.container
					div.row
						div.col-md-9.box-text
							h3.fw-600 magna sed adipiscing
							p.mt-25 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						div.col-md-3.box-text.pd-3.box-img
							p.fw-600 november 1, 2015
							p
								a jane doe 
								img(src="images/avatar.jpg")
					div.row
						div.col-md-12.box-pic
							div.box-pic01
								img(src="images/pic01.jpg")
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tempore pariatur ipsum earum, aperiam cupiditate recusandae, quae debitis animi, optio nulla dolores. A molestiae tempora, assumenda asperiores itaque, officiis sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore facilis quae, optio, soluta eligendi nostrum.
								a continue reading
								span
									i.fa.fa-comment 
									i.text 128
								span
									i.fa.fa-heart 
									i.text 28
								span.general general